<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="https://github.com/guedes-jr/django-bootstrapp-corona/" target="_blank">João Guedes</a>. Todos direitos reservados.</span>
    <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center"> <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Feito à mão e feito com determinação</span>🚀</span>
  </div>
</footer>