{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="{% url 'dashboard' %}"><img src="{% static 'images/logo.svg' %}" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="{% url 'dashboard' %}"><img src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-category">
      <span class="nav-link">Navegação</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'portifolio' %}">
        <span class="menu-icon">
          <i class="fa fa-bank"></i>
        </span>
        <span class="menu-title">Contas</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'transaction' %}">
        <span class="menu-icon">
          <i class="fa fa-money"></i>
        </span>
        <span class="menu-title">Trnasções</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'credcard' %}">
        <span class="menu-icon">
          <i class="fa fa-credit-card"></i>
        </span>
        <span class="menu-title">Cartões de Crédito</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
    <li class="nav-item menu-items">
      <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="fa fa-bar-chart-o"></i>
          </span>
          <span class="menu-title">Relatórios</span>
          <i class="menu-arrow"></i>
        </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#">...</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">....</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">....</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'goal' %}">
        <span class="menu-icon">
          <i class="fa fa-rocket"></i>
        </span>
        <span class="menu-title">Metas</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
  </ul>
</nav>