{% extends 'shared/base.html' %}

{% load static %}
{% load math_filters %}

{% block title %}Carteias{% endblock %}

{% block content %}
<div class="modal fade" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar novo Cartão de crédito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample" method="post" enctype="multipart/form-data" action="{% url 'portifolio' %}"> {% csrf_token %}
            <div class="form-group row">
              <label for="card_type" class="col-sm-3 col-form-label">Tipo <span style="color: red">*</span></label>
              <div class="col-sm-9">
                <select class="form-select" id="card_type" name="card_type" required>
                    {% for code, name in card_types %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="cardholder_name" class="col-sm-3 col-form-label">Nome <span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="cardholder_name" name="cardholder_name" placeholder="Nome" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="expiration_date" class="col-sm-3 col-form-label">Data de Expiração <span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="expiration_date" name="expiration_date" placeholder="dd/mm/yyyy"  required>
              </div>
            </div>
            <div class="form-group row">
              <label for="security_code" class="col-sm-3 col-form-label">Código de Segurança <span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="security_code" name="security_code" placeholder="Nome" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="limit" class="col-sm-3 col-form-label">Limite <span style="color: red">*</span></label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white">$</span>
                  </div>
                  <input type="number" class="form-control" id="limit" name="limit" value="0.00" required>
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="surname" class="col-sm-3 col-form-label">Apelido <span style="color: red">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Nome" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

<div class="page-header">
  <h3 class="page-title"> Minhas Contas </h3>
  {% if messages %} {% for message in messages %}
  <br />
  <section class="alert {{message.tags}}">{{ message }}</section>
  {% endfor %} {% endif %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Contas</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_1">
          <i class="fa fa-plus"></i> Adicionar Conta
        </button>
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Tip </th>
                <th> Tipo de Cartão </th>
                <th> Número do Cartão </th>
                <th> Nome do Titular </th>
                <th> Data de validade </th>
                <th> Código de Segurança (CVV) </th>
                <th> Limite </th>
                <th> Opções </th>
              </tr>
            </thead>
            <tbody>
              {% for portifolio in portifolios %}
              <tr>
                <td class="py-1">
                  <img src="{{portifolio.user.avatar.url}}" alt="image" />
                </td>
                <td> {{portifolio.account_name}} </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ portifolio.balance|percentage:amount }}%" aria-valuenow="{{ portifolio.balance|percentage:amount }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td> {{portifolio.balance}} </td>
                <td> {{portifolio.get_account_type_display}} </td>
                <td> {{portifolio.created_at}} </td>
                <td>
                  <a href="{% url 'update_portifolio' id=portifolio.id %}" style="padding: 7px; cursor: pointer; font-size: 18px">
                    <i class="fa fa-edit text-primary"></i>
                  </a>  |
                  <a href="{% url 'delete_portifolio' id=portifolio.id %}" style="padding: 8px; cursor: pointer; font-size: 20px">
                    <i class="fa fa-trash-o text-danger"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}