{% extends 'shared/base.html' %}

{% load static %}
{% load math_filters %}

{% block title %}Carteias{% endblock %}

{% block content %}
<div class="page-header">
  <h3 class="page-title"> Minhas Contas - Editar </h3>
  {% if messages %} {% for message in messages %}
  <br />
  <section class="alert {{message.tags}}">{{ message }}</section>
  {% endfor %} {% endif %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Contas</li>
      <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3>Editando Conta: {{ updt_portifolio.name }}</h3>
        <form class="forms-sample" method="post" enctype="multipart/form-data" action="{% url 'update_portifolio' updt_portifolio.id %}"> {% csrf_token %}
          <input type="hidden" name="id" value="{{ updt_portifolio.id }}">
          <div class="form-group row">
            <label for="account_name" class="col-sm-2 col-form-label">Nome <span style="color: red">*</span></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="account_name" name="account_name" value="{{updt_portifolio.account_name }}">
            </div>
          </div>
          <div class="form-group row">
            <label for="account_type" class="col-sm-2 col-form-label">Tipo <span style="color: red">*</span></label>
            <div class="col-sm-6">
              <select class="form-select form-control" id="account_type" name="account_type" style="color: #fff" required>
                  {% for code, name in account_types %}
                      <option value="{{ code }}" {% if code == updt_portifolio.account_type %}style="color: #fff" selected{% endif %}>{{ name }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="balance" class="col-sm-2 col-form-label">Balanço <span style="color: red">*</span></label>
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary text-white">$</span>
                </div>
                <input type="number" class="form-control" id="balance" name="balance" value="{{updt_portifolio.get_format_balance}}" required>
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <div class="input-group text-center">
                <button type="submit" class="btn btn-success">Atualizar</button>
                <a href="{% url 'portifolio' %}" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}